<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitliving - Book classes</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="styles/header-footer-style.css">
    <link rel="stylesheet" href="styles/bookClasses-style.css">
</head>
<body>

<header>
    <div th:include="fragments/navbar :: navbar">Navbar</div>
</header>


<main>

    <form id= "form" class="bookForm" method="post" th:action="@{/bookClasses}">
        <div class="row">
            <div id="dateDiv">
                <span style="font-size: 20px; ">
                    Select date:
                </span>

                <input name="date" type="date" style="width: 200px;
                margin-left: 100px;
                border-radius: 10px;
                border-width: 1px">
            </div>
        </div>

        <div class="row">
            <div id="timeDiv">
                <span style="font-size: 20px; ">
                    Select time:
                </span>

                <select name="time" style="width: 200px;margin-left: 100px; border-radius: 10px; border-width: 1px">
                    <option>10:00</option>
                    <option>11:00</option>
                    <option>12:00</option>
                    <option>13:00</option>
                    <option>14:00</option>
                    <option>15:00</option>
                    <option>16:00</option>
                    <option>17:00</option>
                    <option>18:00</option>
                    <option>19:00</option>
                    <option>20:00</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div id="classDiv">
                <span  style="font-size: 20px; ">
                    Select class:
                </span>

                <select id="className" name="className">
                    <option>Gain muscle mass</option>
                    <option>Lose weight</option>
                    <option>Maintain shape</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div id="passwordDiv">
                <span style="font-size: 20px; ">
                    Your password:
                </span>

                <input name="password" type="password" style="width: 200px;
                margin-left:71px; border-radius: 10px; border-width: 1px">

            </div>
        </div>

        <div class="row" style="text-align: center">
            <button id="submitBtn" type="submit">
                Book class
            </button>
        </div>
    </form>
</main>


<footer>
    <div th:include="fragments/footer :: footer">Footer</div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>