<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitliving - Classes</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="styles/header-footer-style.css">
    <link rel="stylesheet" href="styles/classesStyle.css">
</head>
<body>

<header>
    <div th:include="fragments/navbar :: navbar">Navbar</div>
</header>


<main>

    <div style="margin: 2% 10% 6% 10%; border-radius: 12px" class="card card-style">
        <div class="container-fluid">
            <div class="row">
                <div style="font-size: 30px; text-align: center; font-weight: bold" class="card-header">
                    Gain muscle mass
                </div>
            </div>

            <div class="row" style="width: 100%; margin: 0px">
                <div style="margin: 20px 50px 20px 0px;" class="col-sm">
                    <img style="width: 100%; height: 100%; border-radius: 12px" src="images/classes-gainMuscle.jpg"
                         alt="Responsive image">
                </div>

                <div style="margin: 20px 0px 20px 50px; text-align: center" class="col-sm">
                    <p style="font-size: 130%;padding-top: 20px" class="card-text">Building muscle is why most of us
                        constantly return
                        to the gym. It's the beacon
                        of light that continues to drive our effort-driven workouts that many consider us crazy for, but
                        how do we build muscle effectively? That's the question that trips up so many lifters.
                        The physical act of building muscle is easier said than done because in order to build muscle we
                        need to have multiple variables aligned both in regard to our training and nutrition.</p>
                    <p style="font-size: 90%; padding-top: 20px; font-weight: bold" class="card-text">Monday to
                        Friday</p>
                    <p style="font-size: 90%; font-weight: bold" class="card-text">10:00 - 20:00</p>
                    <a style="background-color: #212529; border-color: #212529; border-radius: 12px" href="bookClasses"
                       class="btn btn-primary btn-style">Book now</a>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 6% 10% 6% 10%; border-radius: 12px" class="card card-style">
        <div class="container-fluid">
            <div class="row">
                <div style="font-size: 30px; text-align: center; font-weight: bold" class="card-header">
                    Lose weight
                </div>
            </div>

            <div class="row" style="width: 100%; margin: 0px">

                <div style="margin: 20px 0px 20px 50px; text-align: center" class="col-sm">
                    <p style="font-size: 130%;padding-top: 20px" class="card-text">While there are endless diets,
                        supplements, and meal replacement plans claiming to ensure rapid weight loss, most lack any
                        scientific evidence. There are, however, some strategies backed by science that do have an
                        impact on weight management. Take advantage and come to our class to get the perfect training
                        for your goals.</p>
                    <p style="font-size: 90%; padding-top: 20px; font-weight: bold" class="card-text">Monday to
                        Friday</p>
                    <p style="font-size: 90%; font-weight: bold" class="card-text">10:00 - 20:00</p>
                    <a style="background-color: #212529; border-color: #212529; border-radius: 12px" href="bookClasses"
                       class="btn btn-primary btn-style">Book now</a>
                </div>

                <div style="margin: 20px 50px 20px 70px;" class="col-sm">
                    <img style="width: 100%; height: 100%; border-radius: 12px" src="images/classes-loseWeight.jpg"
                         alt="Responsive image">
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 6% 10% 6% 10%; border-radius: 12px" class="card card-style">
        <div class="container-fluid">
            <div class="row">
                <div style="font-size: 30px; text-align: center; font-weight: bold" class="card-header">
                    Maintain shape
                </div>
            </div>

            <div class="row" style="width: 100%; margin: 0px">
                <div style="margin: 20px 50px 20px 0px; border-radius: 12px" class="col-sm">
                    <img style="width: 100%; height: 100%; border-radius: 12px" src="images/classes-maintainShape.jpg"
                         alt="Responsive image">
                </div>

                <div style="margin: 20px 0px 20px 50px; text-align: center" class="col-sm">
                    <p style="font-size: 130%;padding-top: 20px" class="card-text">A healthy body is a guest-chamber for
                        the soul and to have a healthy mind and soul you have to have a fit body. But isn’t it difficult
                        for some people to maintain a healthy body and to get in shape? Sitting in front of TVs and
                        eating junkies all day long will not help you to get a well-sculpted body.</p>
                    <p style="font-size: 90%; padding-top: 20px; font-weight: bold" class="card-text">Monday to
                        Friday</p>
                    <p style="font-size: 90%; font-weight: bold" class="card-text">10:00 - 20:00</p>
                    <a style="background-color: #212529; border-color: #212529; border-radius: 12px" href="bookClasses"
                       class="btn btn-primary btn-style">Book now</a>
                </div>
            </div>
        </div>
    </div>


</main>

<footer>
    <div th:include="fragments/footer :: footer">Footer</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>