.bookForm{
    margin: 2% 10% 2% 10%;
    background-color: #cfccd4;
    border-radius: 12px
}

#dateDiv{
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 15px;
}

#timeDiv{
    margin-bottom: 4%;
}

#classDiv{
    margin-bottom: 4%;
}

#passwordDiv{
    margin-bottom: 4%;
}
